<h1>Restaurants</h1>
<p>Find me in app/views/restaurant/index.html.erb</p>

<ul> 
  <% @restaurants.each do |restaurant| %>
    <li>
    <%= link_to restaurant.name, restaurant_path(restaurant) %>
    </li>
  <% end %>
</ul>
